.signInText{
    border-bottom: 2px solid #aaa;
    color: #24cfaa;
    font-size: 1em;
    padding-bottom: 3px;
}

.mainCnt{
    width: 24em;
    display: flex;
    align-items: center;
}

.logo{
    margin-top: -1em;
}