<div class="mainCnt homeCnt">
    <h1 class="title">Informacion General</h1>
    <div class="inputSearch infoCtn">
        <h2>Uso de la App:</h2>
        <h4>Primero:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vitae accusamus dolore cupiditate molestiae atque quae velit odio quasi omnis, fuga ipsam quidem adipisci itaque dignissimos quisquam sit id voluptatum.</p>
        <h4>Segundo:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vitae accusamus dolore cupiditate molestiae atque quae velit odio quasi omnis, fuga ipsam quidem adipisci itaque dignissimos quisquam sit id voluptatum.</p>
        <h4>Tercero:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vitae accusamus dolore cupiditate molestiae atque quae velit odio quasi omnis, fuga ipsam quidem adipisci itaque dignissimos quisquam sit id voluptatum.</p>
        <h4>Cuarto:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vitae accusamus dolore cupiditate molestiae atque quae velit odio quasi omnis, fuga ipsam quidem adipisci itaque dignissimos quisquam sit id voluptatum.</p>
    </div>
</div>
