.mainCnt{
    width: 96%;
    height: 85vh;
    padding: 3em;
    margin-top: 5em;
    display: flex;
    align-items:flex-start;
    margin: 5em auto;
}

.title{
    margin-top: -1em;
    font-size: 2em;
}

.infoCtn{
    width: 75em;
    height: 20em;
    border-radius: 10px;
    padding: 10px;
}

.infoCtn h2{
    font-size: 1.4em;
}



