main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.logIn-div{
    width: 95%;
    height: 95vh;
    padding: 60px 35px 35px 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow:  9px 9px 18px #d4d8db,
                 -9px -9px 18px #ffffff;
}
.title{
    margin-top: -1em;
}
mat-form-field{
    font-size: 1em;
    width: 25em;
}

table {
    width: 70em;
    margin-top: 2em;
    background: #eef0f2;
    box-shadow:  9px 9px 18px #e3e6e9,
                 -9px -9px 18px #f5fafd;
    
}
th{
    font-size: .9em;
}
td{
    font-weight: 400;
}
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
  
.mat-row:hover .mat-cell {
    border-color: #3f51b5;
    border-width: 0.145em;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.btnLogOut{
    position: fixed;
    margin-top: 1em;
    right: 6.4em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    height: 3em;
    width: 10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #24cfaa;
    transition: .5s;
    font-size: .9em;
    font-weight: 700;
    text-transform: capitalize;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff ;
}

.btnLogOut:hover{
    background: #2fdbb6;
}

.btnLogOut:active{
    background-color:#1da88a;
}
