<main>  
    <div class="mainCnt">
        <!-- <input type="search" placeholder="Search Id / Cedula" class="inputSearch"> -->
        <div>
            <h1 class="title">Buscador de clientes</h1>
              <div class="form-floating mb-3 inputCnt">
                <input type="search" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Buscar Id / Cedula</label>
              </div>
        </div>

        <div class="tableCtn">
          <table mat-table [dataSource]="dataSource" >
            <ng-container matColumnDef="nameCompany">
              <th mat-header-cell *matHeaderCellDef> Cartera</th>
              <td mat-cell *matCellDef="let element"> {{element.nameCompany}} </td>
            </ng-container>

            <ng-container matColumnDef="cedula">
              <th mat-header-cell *matHeaderCellDef> No. Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
            </ng-container>
          
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef> No. Celular </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="debt">
              <th mat-header-cell *matHeaderCellDef> Saldo</th>
              <td mat-cell *matCellDef="let element"> {{element.debt}} </td>
            </ng-container>

            <ng-container matColumnDef="lastDatePay">
              <th mat-header-cell *matHeaderCellDef> F. ultimo pago</th>
              <td mat-cell *matCellDef="let element"> {{element.lastDatePay}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

    </div>
</main>



